<div class="container">
    <div class="flex-item">
        <h3>Материальный расходуемый ресурс</h3>
    </div>
    <div class="flex-item">
        <mat-form-field>
            <input matInput placeholder="Название ресурса" >
        </mat-form-field>
    </div>
    <div class="flex-item">
        <mat-form-field>
            <input matInput placeholder="Количество ресурса">
        </mat-form-field>
    </div>
    <div>
        <h5>Единицы измерения</h5>
    </div>
    <div class="flex-item">
        
                <mat-checkbox>штуки</mat-checkbox>
        <br>
                <mat-checkbox>киллограммы</mat-checkbox>
        <br>  
                <mat-checkbox>граммы</mat-checkbox>
        <br>
                <mat-checkbox>метры</mat-checkbox>
        <br> 
                <mat-checkbox>сантиметры</mat-checkbox>
        <br>  
                <mat-checkbox>литры</mat-checkbox>
        <br> 
                <mat-checkbox>номинал (деньги)</mat-checkbox>
        <br>

       
    </div>
 </div>