.container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
   
    flex-direction:row;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

.flex-item {
    padding: 1px;
    width: 100%;
    height: 100%;
    
}

.button-container {
   display:flex;
   flex-direction:column;
   justify-content:center;
}
button{
    margin:10px 5px;
    width:165px;
    height:30px;
}
