<div class="container">
    <div class="flex-item">
        <h3>Создать ресурс</h3>
    </div>
    <div class="flex-item">
        <mat-form-field>
            <input matInput placeholder="Название ресурса" >
        </mat-form-field>
    </div>
    <div class="flex-item">
        <mat-form-field>
            <input matInput placeholder="Количество ресурсов">
        </mat-form-field>
    </div>
    <div class="flex-item">
        
                <mat-checkbox class="">Материально расходуемые</mat-checkbox>
        <br>
                <mat-checkbox>Материально не расходуемые</mat-checkbox>
        <br>  
                <mat-checkbox>Информация</mat-checkbox>
        <br>
                <mat-checkbox>Организационный ресурс</mat-checkbox>
        <br> 
                <mat-checkbox>Навык</mat-checkbox>
        <br>  
                <mat-checkbox>Интеллектуальный ресурс</mat-checkbox>
        <br> 
                <mat-checkbox>Социальная связь</mat-checkbox>
        <br> 
                <mat-checkbox>Институт</mat-checkbox>
        <br>    
                <mat-checkbox>Рекламный материал</mat-checkbox>
        <br>   
                <mat-checkbox>Отзыв клиента</mat-checkbox>
       
    </div>
 </div>